<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deligo.app">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.deligo.app.ui.LoginActivity" />
        <activity android:name="com.deligo.app.ui.RegisterActivity" />
        <activity android:name="com.deligo.app.ui.CustomerMainActivity" />
        <activity android:name="com.deligo.app.ui.owner.OwnerMainActivity" />
        <activity android:name="com.deligo.app.ui.ShipperMainActivity" />
        <activity android:name="com.deligo.app.ui.shipper.DeliveryDetailActivity"
            android:parentActivityName="com.deligo.app.ui.ShipperMainActivity" />
    </application>

</manifest>
